@backgroundbutton: #000;
@backgroundsquare: #05fe87;

body{
	text-align: center;
}

.content{
	width:100%;
	height: auto;
	float: left;
	.objSquare{
		width: 200px;
		height: 200px;
		float: left;
		background: @backgroundsquare;
	}
	.butttons{
		width: 100%;
		height: auto;
		float: left;
		.bt-pesquisar{
			background: @backgroundbutton;
			color: #fff;
			border:none;
			padding:10px 45px;
		}
	}
}