.ac-container{
	width: 400px;
	margin: 10px auto 30px auto;
}

.ac-container label{
	font-family: Arial, sans-serif;
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 30px;
	cursor: pointer;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-size: 19px;
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -moz-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	-webkit-box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}

.ac-container label:hover{
	background: #bfecff;
}

.ac-container input{
	display: none;
}

.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	transition: 
		height 0.3s ease-in-out, 
		box-shadow 0.6s linear;
}

.ac-container input:checked ~ article{
	transition: 
		height 0.5s ease-in-out, 
		box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

.ac-container article p{
	font-style: italic;
	color: #777;
	line-height: 23px;
	font-size: 14px;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.ac-container input:checked ~ article.ac-small{
	height: 140px;
}
.ac-container input:checked ~ article.ac-medium{
	height: 180px;
}
.ac-container input:checked ~ article.ac-large{
	height: 230px;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: #c6e1ec;
	color: #3d7489;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}

/*********************** BUTTONS ANIMATE ****************************/

.divprincipal{
	width:300px;
	height:150px;
	float: left;
	background:green;


	/*skew = faz a tranformação de acordo com os graus x e y (graus x, graus y)*/
	transform: skew(30deg,20deg); 
    webkit-transform: skew(30deg,20deg);
    -moz-transform: skew(30deg,20deg);
    –o-transform: skew(30deg,20deg);

	/*Scale = aumenta o valor da div de acordo com o número entre ()
    transform: scale(2);
    webkit-transform: scale(2);
    -moz-transform: scale(2);
    –o-transform: scale(2);*/

	/*Faz a rotação em graus do shap)
    transform: rotate(180deg); 
    webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    –o-transform: rotate(180deg);
	*/


    /*
	Tranform = Move o quadrado até a posição x,y (x,y)
    transform: translate(150px,150px);
    –webkit-transform: translate(150px,150px);
    -moz-transform: translate(150px,150px);
    –o-transform: translate(150px,150px);*/
}






/************************ 002.html *********************/

body {
  background: #fff;
}

.loading-icon,
.loading-icon::before,
.loading-icon::after {
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
  position: absolute;
  vertical-align: middle;
  background: #1bc2a6;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.loading-icon::before {
  content: "";
  animation: bounce 1.5s infinite;
  -webkit-animation: bounce 1.5s infinite;
}

/*.loading-icon::after {
  content: "";
  animation: bounce 1.5s -0.4s infinite;
  -webkit-animation: bounce 1.5s -0.4s infinite;
}*/


@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  50%{
  	-webkit-transform: scale(4);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
}

/*********** CORAÇÃO ********************/

.heart-shape{  
    position: absolute;  
    width: 200px;  
    height: 200px;  
    left:50%;
    top:50%;
    background-color: rgba(146,0,0, 1);
    margin:-100px 0 0 -100px;
    -webkit-animation: coracaoBatendo 0.6s ease-out infinite;
}  

.heart-shape:before{  
    position: absolute;  
    bottom: 0px;  
    left: -100px;  
    width: 200px;  
    height: 200px;  
    content: ''; 

    -webkit-border-radius: 50%;  
    -moz-border-radius: 50%;  
    -o-border-radius: 50%;  
    border-radius: 50%;  

    background-color: rgba(146,0,0, 1);
} 

.heart-shape:after{  
    position: absolute;  
    top: -100px;  
    right: 0;  
    width: 200px;  
    height: 200px;  
    content: '';  
      
    -webkit-border-radius: 50%;  
    -moz-border-radius: 50%;  
    -o-border-radius: 50%;  
    border-radius: 50%;  
  
    background-color: rgba(146,0,0,1);
}  

@-webkit-keyframes coracaoBatendo {
  0% {
    -webkit-transform: scale(1) rotate(45deg);
    opacity: 1;
  }
  50%{
  	-webkit-transform: scale(1.5) rotate(45deg);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1) rotate(45deg);
    opacity: 1;
  }
}